body{
    text-align: center;
    background: linear-gradient(to right ,slateblue, lightblue);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    margin-top: 10px;
    height: 250px;
    border-radius: 200px;
}

img:hover {
    animation: bounce 2s infinite;
}

h2 {
    font-size: 18px;
}

a {
    background-color: white;
    font-size: 20px;
    display: block;
    padding: 10px;
    margin: 10px 50px 10px 50px;
    border-radius: 10px;
    color: slateblue;
    text-align: center;
    text-decoration: none;
    box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

a:hover {
    color: orange;
    background-color: black;
    transform: scale(1.05);
}

@keyframes bounce {
    20% {transform: translateY(-10px);}
    50% {transform: translateY(-5px);}
    0%, 40%, 60%, 80%, 100% {transform: translateY(0);}
    /*@keyframes bounce {
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-5px);}
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}*/
}